
form#newRoomtypeForm
  .modal-content
    .modal-header
      button.close(type='button' data-dismiss='modal' aria-label='Close')
        span(aria-hidden='true') &times;
      h4.modal-title Add Room Type
    .modal-body              
        .form-group
          label(for='type') Room Type
          input#type.form-control(type='text' name='type' placeholder='Room Type')
        .form-group
          label(for='max_adults') Maximum Adults
          input#max_adults.form-control(type='number' name='max_adults' placeholder='Maximum Adults')
        .form-group
          label(for='max_childs') Maximum Children
          input#max_childs.form-control(type='number' name='max_childs' placeholder='Maximum Children')
        .form-group
          label(for='max_infants') Maximum Infants
          input#max_infants.form-control(type='number' name='max_infants' placeholder='Maximum Infants')
    .modal-footer
      .div#errorMessage
      button.btn.btn-default(type='button' data-dismiss='modal') Cancel
      button#saveBtn.btn.btn-primary(type='submit') Save

script.
  $('#newRoomtypeForm').submit((e)=>{
    e.preventDefault();
    // Send Post request with new Room Type
    $.ajax({
      url: "/api/roomtypes",
      method: 'POST',
      data: {
        "type": $('#type').val(),
        "max_adults": $('#max_adults').val(),
        "max_childs": $('#max_childs').val(),
        "max_infants": $('#max_infants').val()
      },      
      success: data=>{
        $('#roomtypeModal').modal('toggle');
        $('#roomtypeList').html(data);
      },
      error: (err)=>{
        var error_messages = [];
        $.each(err.responseJSON.errors, (field, error)=>{
          $('#'+field).parent().addClass('has-error');
          error_messages.push(error.msg);
        });        
        $('#errorMessage').html('<p class="text-danger">'+error_messages.join(' ')+'</p>');
      }
    });
  });