
form#newRoomForm
  .modal-content
    .modal-header
      h4#myModalLabel.modal-title Add Room
    .modal-body              
        .form-group
          label(for='name') Room name
          input#name.form-control(type='text' name='name' placeholder='Room name')
        .form-group
          label(for='roomtype') Room Type
          select#roomtype.form-control(name='roomtype')
            option(value='' selected)
            each roomtype in roomtypes
              option(value=roomtype._id) #{roomtype.type}
        .form-group
          .row
            .col-md-6
              label(for='price') Price
              input#price.form-control(type='number' name='price' placeholder='Price')  
            .col-md-6
              label(for='pricePer') Price Per
              select#pricePer.form-control(name='pricePer' placeholder='Type')
                option(value='Per-person') Per-person
                option(value='Per-room') Per-room              
    .modal-footer
      .div#errorMessage
      button.btn.btn-default(type='button' data-dismiss='modal') Cancel
      button#saveBtn.btn.btn-primary(type='submit') Save

script.
  $('#newRoomForm').submit((e)=>{
    e.preventDefault();
    // Send Post request with new room
    $.ajax({
      url: "/api/rooms",
      method: 'POST',
      data: {
        "name": $('#name').val(),
        "roomtype": $('#roomtype').val(),
        "price": $('#price').val(),
        "pricePer": $('#pricePer').val()
      },      
      success: data=>{
        $('#roomModal').modal('toggle');
        $('#roomList').html(data);
      },
      error: (err)=>{
        var error_messages = [];
        $.each(err.responseJSON.errors, (field, error)=>{
          $('#'+field).parent().addClass('has-error');
          error_messages.push(error.msg);
        });        
        $('#errorMessage').html('<p class="text-danger">'+error_messages.join(' ')+'</p>');
      }
    });
  });