div
  table.table.table-hover
    thead
      tr.table-danger
        th(scope='col') Name
        th(scope='col') Price
        th(scope='col') Type        
        th.text-right(scope='col') Operations               
    tbody
      each service in services
        tr(id='row'+service._id)
          td #{service.name}
          td #{service.price}
          td #{service.type}          
          td.text-right
            a.btn.btn-warning(onclick='editServiceFunction("'+service._id+'")' type='button' data-toggle='modal' data-target='#serviceModal')
              i.fa.fa-pencil.fa-fw
              |  Edit
            a.btn.btn-danger(onclick='deleteServiceFunction("'+service._id+'")' type='button')
              i.fa.fa-times.fa-fw
              |  Delete       
