
form#newServiceForm
  .modal-content
    .modal-header
      h4.modal-title Add Service
    .modal-body              
        .form-group
          label(for='name') Name
          input#name.form-control(type='text' name='name' placeholder='Name')
        .form-group
          .row
            .col-md-6
              label(for='price') Price
              input#price.form-control(type='number' name='price' placeholder='Price')
            .col-md-6
              label(for='type') Price Per
              select#pricePer.form-control(name='pricePer' placeholder='Type')
                option(value='Per-person') Per-person
                option(value='Per-room') Per-room
    .modal-footer
      .div#errorMessage
      button.btn.btn-default(type='button' data-dismiss='modal') Cancel
      button#saveBtn.btn.btn-primary(type='submit') Save

script.
  $('#newServiceForm').submit((e)=>{
    e.preventDefault();
    // Send Post request with new service
    $.ajax({
      url: "/api/services",
      method: 'POST',
      data: {
        "name": $('#name').val(),
        "price": $('#price').val(),
        "pricePer": $('#pricePer').val()
      },      
      success: data=>{
        $('#serviceModal').modal('toggle');
        $('#serviceList').html(data);
      },
      error: (err)=>{
        var error_messages = [];
        $.each(err.responseJSON.errors, (field, error)=>{
          $('#'+field).parent().addClass('has-error');
          error_messages.push(error.msg);
        });        
        $('#errorMessage').html('<p class="text-danger">'+error_messages.join(' ')+'</p>');
      }
    });
  });