form#editServiceForm
  .modal-content
    .modal-header
      h4.modal-title Edit Service
    .modal-body              
        .form-group
          label(for='name') Name
          input#name.form-control(type='text' name='name' placeholder='Name' value=service.name)
        .form-group
          .row
            .col-md-6
              label(for='price') Price
              input#price.form-control(type='number' name='price' placeholder='Price' value=service.price min='0')
            .col-md-6
              label(for='pricePer') Price Per
              select#pricePer.form-control(name='pricePer' placeholder='Type')
                option(value='Per-person' selected=(service.pricePer=='Per-person')) Per-person
                option(value='Per-room' selected=(service.pricePer=='Per-room')) Per-room                
    .modal-footer
      .div#errorMessage
      button.btn.btn-default(type='button' data-dismiss='modal') Cancel
      button#saveBtn.btn.btn-primary(type='submit') Update

script.
  $('#editServiceForm').submit((e)=>{
    e.preventDefault();
    // Send Post request with customer
    $.ajax({
      url: "/api/services/#{service._id}",
      method: 'PUT',      
      data: {
        "name": $('#name').val(),
        "price": $('#price').val(),
        "pricePer": $('#pricePer').val()
      },
      success: data=>{
        $('#serviceModal').modal('toggle');
        $('#serviceList').html(data);
      },
      error: (err)=>{
        var error_messages = [];
        $.each(err.responseJSON.errors, (field, error)=>{
          $('#'+field).parent().addClass('has-error');
          error_messages.push(error.msg);
        });        
        $('#errorMessage').html('<p class="text-danger">'+error_messages.join(' ')+'</p>');
      }
    });
  });