.container-fluid
  .row
    .col-lg-12
      h1.page-header Bookings      
      .div
        a#addBookingButton.btn.btn-primary.add-button(href='#' type='button' data-toggle='modal' data-target='#bookingModal')
            i.fa.fa-plus.fa-fw
            |  Add Booking        
  .row
    .col-lg-12
      .card  
        .div#bookingList
          .preloader
          
#bookingModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='Bookings')
  .modal-dialog(role='document')
    .div#modalContent      
  
script.

  $(function() {
  
    // Get Bookings
    $.get( "/api/bookings", data => {
      $('#bookingList').html(data);
    });
  
    // Add Booking
    $('#addBookingButton').click(() => {
      $.get('/bookings/new', html => {          
        $('#modalContent').html(html);
      })
    });

  });
  

  
