.container-fluid
  .row
    .col-lg-12
      h1.page-header Customers
      .div
        a#addCustomerButton.btn.btn-primary.add-button(href='#' type='button' data-toggle='modal' data-target='#customerModal')
            i.fa.fa-plus.fa-fw
            |  Add Customer        
  .row
    .col-lg-12
      .card  
        .div#customerList
          .preloader
          
#customerModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='Customers')
  .modal-dialog(role='document')
    .div#modalContent      
  
script.

  $(function() {

    // Clear modal content after closing
    $('#customerModal').on('hidden.bs.modal', function () {
      $('#modalContent').html('');  
    });
  
    // Get Customers
    $.get( "/api/customers", data => {
      $('#customerList').html(data);
    });
  
    // Add Customer
    $('#addCustomerButton').click(() => {
      $.get('/customers/new', html => {          
        $('#modalContent').html(html);
      })
    });

  });
  

  
