doctype html(lang='en')
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='description' content='Hotel Management RIA')
  meta(name='author' content='Raymond Phelan')
  title= title
  // jQuery
  script(src='vendor/jquery/jquery.min.js')
  // Bootstrap Core CSS
  link(href='vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  // Custom CSS
  link(href='custom/styles.css' rel='stylesheet')
  // Custom Fonts
  link(href='vendor/font-awesome/css/font-awesome.min.css' rel='stylesheet' type='text/css')
  // Favicon
  link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
  link(rel="icon" href="favicon.ico" type="image/x-icon")
  //if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
body
  #wrapper
    nav.navbar.navbar-default.navbar-static-top(role='navigation' style='margin-bottom: 0px')
      .navbar-header
        button.navbar-toggle(type='button' data-toggle='collapse' data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        .app-title(href='/')= title    
      .navbar-default.sidebar(role='navigation')
        .sidebar-nav.navbar-collapse
          ul#side-menu.nav
            
            li
              a#dashboard-btn.sidebar-btns(href='#dashboard' onclick="getDashboardFunction()")
                i.fa.fa-dashboard.fa-fw
                |  Dashboard
            li
              a#bookings-btn.sidebar-btns(href='#bookings' onclick="getBookingsFunction()")
                i.fa.fa-suitcase.fa-fw
                |  Bookings
            li
              a#customers-btn.sidebar-btns(href='#customers' onclick="getCustomersFunction()")
                i.fa.fa-users.fa-fw
                |  Customers
            li
              a#rooms-btn.sidebar-btns(href='#rooms' onclick="getRoomsFunction()")
                i.fa.fa-tag.fa-fw
                |  Rooms
            li
              a#roomtypes-btn.sidebar-btns(href='#roomtypes' onclick="getRoomtypesFunction()")
                i.fa.fa-gear.fa-fw
                |  Room Types
            li
              a#services-btn.sidebar-btns(href='#services' onclick="getServicesFunction()")
                i.fa.fa-bell-o.fa-fw
                |  Services
    .wrapper  
      block content
      .spacer
      .div#footer
        .credits Raymond Phelan | NCI Student 17119847 | 2018
          a(href="http://jigsaw.w3.org/css-validator/check/referer")
          img.w3c(style="border:0;width:88px;height:31px" src="http://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!")    
// Customer Javascript
script(src='custom/custom.js')
// Bootstrap Core JavaScript
script(src='vendor/bootstrap/js/bootstrap.min.js')
