.container-fluid
  .row
    .col-lg-12
      h1.page-header Room Types
      .div
        a#addRoomtypeButton.btn.btn-primary(href='#' type='button' data-toggle='modal' data-target='#roomtypeModal')
            i.fa.fa-plus.fa-fw
            |  Add Room Type        
  .row
    .col-lg-12
      .card  
        .div#roomtypeList
          
#roomtypeModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='Room Type')
  .modal-dialog(role='document')
    .div#modalContent      
  
script.

  $(function() {
  
    // Get Room Types
    $.get( "/api/roomtypes", data => {
      $('#roomtypeList').html(data);
    });
  
    // Add Room Type
    $('#addRoomtypeButton').click(() => {
      $.get('/roomtypes/new', html => {          
        $('#modalContent').html(html);
      })
    });

  });
  

  
