.container-fluid
  .row
    .col-lg-12
      h1.page-header Rooms
      .div
        a#addRoomButton.btn.btn-primary.add-button(href='#' type='button' data-toggle='modal' data-target='#roomModal')
            i.fa.fa-plus.fa-fw
            |  Add Room        
  .row
    .col-lg-12
      .card  
        .div#roomList
          .preloader          
            
#roomModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='Rooms')
  .modal-dialog(role='document')
    .div#modalContent      
  
script.

  $(function() {

    // Clear modal content after closing
    $('#roomModal').on('hidden.bs.modal', function () {
      $('#modalContent').html('');  
    });
  
    // Get Rooms
    $.get( "/api/rooms", data => {
      $('#roomList').html(data);
    });
  
    // Add Room
    $('#addRoomButton').click(() => {
      $.get('/rooms/new', html => {          
        $('#modalContent').html(html);
      })
    });

  });
  

  
